annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
cryptography==50.0.0
fastapi==0.141.1
google-api-core==2.34.0
google-api-python-client==2.199.0
google-auth==2.56.3
google-auth-httplib2==0.4.1
googleapis-common-protos==1.75.1
h11==0.16.0
httplib2==0.32.0
httptools==0.8.0
idna==3.19
proto-plus==1.28.3
protobuf==7.36.0
psycopg==3.3.4
psycopg-binary==3.3.4
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
python-dotenv==1.2.3
PyYAML==6.0.3
requests==2.34.2
soupsieve==2.9.2
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.52.4
watchfiles==1.2.0
websockets==17.0.1